<?xml version="1.0" encoding="UTF-8" ?>
<hibernate-configuration xmlns="http://www.hibernate.org/xsd/orm/cfg">
    <session-factory>
        <!--    Database connection    -->
        <property name="connection.driver_class">com.mysql.cj.jdbc.Driver</property>
        <property name="connection.url">jdbc:mysql://localhost:3306/student_management</property>
        <property name="connection.username">root</property>
        <property name="connection.password">root</property>
        <property name="connection.pool_size">3</property>

        <!--    Show SQL    -->
        <property name="hibernate.show_sql">true</property>
        <property name="hibernate.highlight_sql">true</property>
        <property name="hibernate.format_sql">false</property>
        <property name="hibernate.use_sql_comments">false</property>

        <!--    Auto generate table    -->
        <property name="hibernate.hbm2ddl.auto">create</property>
        <property name="hibernate.globally_quoted_identifiers">true</property>

        <!--    Entity mapping    -->
        <mapping class="com.vti.entity.Student"/>
    </session-factory>
</hibernate-configuration>
