<?xml version="1.0" encoding="UTF-8" ?>
<hibernate-configuration xmlns="http://www.hibernate.org/xsd/orm/cfg">
    <session-factory>
        <!--    Database connection    -->
        <property name="hibernate.connection.driver_class">com.mysql.cj.jdbc.Driver</property>
        <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/shape_management</property>
        <property name="hibernate.connection.username">root</property>
        <property name="hibernate.connection.password">root</property>
        <property name="hibernate.connection.pool_size">3</property>

        <!--    Show SQL    -->
        <property name="hibernate.show_sql">true</property>
        <property name="hibernate.highlight_sql">true</property>
        <property name="hibernate.format_sql">false</property>
        <property name="hibernate.use_sql_comments">false</property>

        <!--    Auto generate table    -->
        <property name="hibernate.hbm2ddl.auto">create</property>
        <property name="hibernate.globally_quoted_identifiers">true</property>
        <property name="hibernate.globally_quoted_identifiers_skip_column_definitions">true</property>
        <property name="hibernate.physical_naming_strategy">org.hibernate.boot.model.naming.CamelCaseToUnderscoresNamingStrategy</property>
        <property name="hibernate.check_nullability">false</property>
        <property name="hibernate.enable_lazy_load_no_trans">true</property>

        <!--    Entity mapping    -->
        <mapping class="com.vti.entity.Shape" />
        <mapping class="com.vti.entity.Circle" />
        <mapping class="com.vti.entity.Rectangle" />
    </session-factory>
</hibernate-configuration>
